<app-header></app-header>
<div class="container">
  <div class="paper">
    <app-dropdown [options]="powerOptions"></app-dropdown>
    <app-gauge [value]="power" [options]="powerGuageOptions"></app-gauge>
  </div>
  <div class="chart" [style.display]="isSmallScreen ? 'none' : 'block'">
    <app-chart [measurement]="power" [options]="chartPowerOptions"></app-chart>
  </div>
  <div class="paper heart">
    <app-heartbeat [heartbeart]="heartRate"></app-heartbeat>
  </div>
  <div class="chart" [style.display]="isSmallScreen ? 'none' : 'block'">
    <app-chart
      [measurement]="heartRate"
      [options]="chartHeartRateOptions"
    ></app-chart>
  </div>
</div>
